// GENERATE WITH calc-svg-icons TASK

.icon-archive {
	width: 476px;
	height: 476px;
}

.icon-arrow-right {
	width: 451px;
	height: 493px;
}

.icon-delete {
	width: 384px;
	height: 384px;
}

.icon-edit {
	width: 478px;
	height: 478px;
}

.icon-gradent-mosaic {
	width: 1240px;
	height: 756px;
}

.icon-notebook {
	width: 512px;
	height: 512px;
}

.icon-plus-filled {
	width: 512px;
	height: 512px;
}

.icon-plus {
	width: 52px;
	height: 52px;
}

.icon-saving-pig {
	width: 409px;
	height: 409px;
}

.icon-settings {
	width: 512px;
	height: 512px;
}

.icon-sign-out {
	width: 448px;
	height: 448px;
}
