$color-sidebar-grey: #f9fcff;
$color-background: #e8eaee;
$color-plan-pink: #f298f029;
$color-plan-blue: #7045ff4a;
$color-plan-grey: #444040;
$color-purple-primary: #7045ff;
$color-pink-primary: #f298f0;
$color-light: #fff;
$color-dark: #000;

$color-grey--950: rgb(71, 70, 70);
$color-grey--900: #504f4f;
$color-grey--800: #757575;
$color-grey--700:rgb(150, 150, 150);
$color-grey--600:rgb(180, 178, 178);
$color-grey--500: #9fa0a1;
$color-grey--400:rgb(221, 218, 218);
$color-grey--200:rgb(241, 239, 239);

$color-green--200: #00b270;

$color-table-header: #757575;
$color-table-header-hover: #8042e4;
$color-nav-text: #a2a2a2;
$color-cell-shadow: #bababa;

// Responsive breakpoints
$breakpoints: (
	xsmall: 400px,
	small: 640px,
	medium: 768px,
	mid-large: 1000px,
	large: 1200px,
	xlarge: 1600px,
);
