body {
    font-size: 1.05332vw;
    font-family: 'Muli', sans-serif;
    margin: 0;
}

#viewportRegister {
    background-color: white;
}

.photo-side {
    display: inline-block;
    float: left;
    height: 47.39961vw;
    width: 52.66623vw;
}

#back-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.sign-up-side {

    display: inline-block;
    float: left;
    width: 26.33311vw;
    margin-left: 9%;
    text-align: center;
}

#piggy {
    width: 4.60829vw;
    height: 3.94997vw;
    margin-top: 20%;
}

.signup-lbl {
    text-align: center;
    margin: 5% 5% 3% 5%;
    font-size: 3.15997vw;
    color: #5236be;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
}

.signup-lbl-smaller {
    margin-bottom: 15%;
    color: #3F2992;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
    outline: none;
    font-family: 'Muli', sans-serif;
    border: none;
}

.inputs {
    display: inline-block;
    text-align: center;
}

.input {
    width: 26.33311vw;
    font-size: 1em;
    border-bottom: 0.09875vw solid rgb(177, 184, 244);
    margin-bottom: 10%;

}

::placeholder {
    color: #3F2992;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3F2992;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #3F2992;
}

.sign-in {
    color: #B1B8F4;
    font-weight: 600;
    cursor: pointer;
}

#register-btn {
    background-image: linear-gradient(to bottom right, rgba(242, 152, 240, 0.96), rgba(144, 97, 255, 0.77));
    padding: 0.65833vw 1.71165vw;
    border-radius: 1.31666vw;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.05332vw;
    margin-bottom: 3%;
    cursor: pointer;
}

#register-btn:hover {

    background-image: linear-gradient(to bottom right, rgba(242, 152, 240, 0.96), rgba(250, 214, 214, 0.96));
}

.input:hover::placeholder {
    font-size: 0.52666vw;
    margin-bottom: 5%;
}