@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Muli',sans-serif;
	font-size: 1.05332vw;
	background-color: #e8eaee;
	position:relative;
}
html,body{
	height: 100%;
	margin: 0;
}
#viewport{
	margin: 1%;
	display: inline-block;
	overflow: auto;
}
.inside{
	margin-left: 1.25082vw;
}
.top-side-bar{
	display: inline-block;
	vertical-align: center;
	margin-top: 1.05332vw;
}
/*-----------side bar----------*/
#side-nav{
	background-color: rgb(249, 252, 255);
	width: 17.77485vw;
	float:left;
	border-radius:0.65833vw;
	min-height: 45.29296vw;
	max-height: 45.29296vw;

}
#user-photo{
	width: 2.30415vw;
	border-radius: 50%;
	margin-left: 8.4266vw;
	display: inline;
	float: right;
}
.saving-lbl{
	margin-top: 0.72416vw;
	display: inline;
	float: left;
	font-weight: bolder;
	font-size: 0.94799vw;
	color:#46484c;
}
.lign{
	border-top: 0.13167vw solid rgba(129, 131, 135, 0.26);
	width: 13.16656vw;
	margin-bottom: 2.10665vw;
	margin-top: 1.05332vw;
	border-radius: 30%;
}
input, select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none !important;
	outline: none;
	font-family: 'Muli', sans-serif;
    border:none;
}
.search-input{
	border-radius: 1.31666vw;
	border: 1px solid rgba(129,131,135,0.26);
	padding: 0.46083vw 0.98749vw;
	width: 14.5em;
}
.plan{
	background-color: rgba(242, 152, 240, 0.16);
	max-width: 85%;
	border-radius: 0.65833vw;

	padding: 1.31666vw 0 1.31666vw 0.65833vw;
	font-weight: bold;
	font-size: 1.57999vw;
	color: #46484c;
}
.plan:hover{
	background-color: rgba(112, 69, 255, 0.29);
	cursor: pointer;
	color: #46484c;
}
.plan:hover .iconify{
	color: #7045ff;
}
.plan:hover::after{
	content: url('https://api.iconify.design/dashicons:arrow-right-alt2.svg?color=%23818387&height=20');
	vertical-align: -0.13167vw;
	float: right;
	margin-right: 8%;

}
#plans > li:first-child{
	background-color: rgba(112, 69, 255, 0.29);
	border-radius: 0.65833vw;
	margin-top: 10%;
	padding: 1.31666vw 0 1.31666vw 0.65833vw;
	color: #46484c;
	cursor: default;
}
#plans > li:first-child::after{
	content: url('https://api.iconify.design/dashicons:arrow-right-alt2.svg?color=%23818387&height=20');
	vertical-align: -0.13167vw;
	float: right;
	margin-right: 8%;
}

#plans > li:first-child .iconify{
	color: #7045ff;

}
.active-plan:hover::after{
	cursor: default;
}
.euro{
	font-size: 0.7em;
	margin-right: 0.2em;
}
.iconify {
	margin-right: 5%;
	color: #f298f0;

}
.btn-group{
	display: inline-block;
	margin-top: 2%;
	white-space: normal;
	width: 17.77485vw;
}
.btn-side{
	border:none;
	word-break: break-word;
	background-color: #fffdfd;
	max-height: 2.63331vw;
	min-height: 2.63331vw;
	max-width: 4.60829vw;
	min-width: 4.60829vw;
	font-weight: 700;
    font-size: 0.63199vw;
	color: #66686c;
	text-align: center;
	vertical-align: center;
	white-space: normal;
	float: left;
	padding-top: 0.98749vw;
	padding-bottom: 1.84332vw;
	margin-right: 2%;
	border-radius: 20%;
	-webkit-box-shadow: 0 0.65833vw 0.65833vw -0.52666vw #777;
	-moz-box-shadow: 0 0.65833vw 0.65833vw -0.52666vw #777;
	box-shadow: 0 0.65833vw 0.65833vw -0.52666vw #777;
}
.settings{
	margin-right: 0;
}
.sett{
	color: #b3b5b9;
	display: block;
	text-align: center;
	margin-left: 35%;
	margin-bottom: 0.32916vw;
	width: 1.44832vw;
	height: 1.44832vw;
	padding-top: 0.13167vw;
}
.arch{
	width: 1.11916vw;
	height: 1.11916vw;
	margin-left: 40%;
	padding-bottom: 0.72416vw;
}
.conf{
	padding-bottom: 0.5925vw;
	padding-top: 0;
}
.btn-side:hover{
	color: #66686c;
	background-color: rgba(112, 69, 255, 0.29);
	cursor: pointer;
}
.btn-side:hover .sett{
	color: #7045ff;
}
.logout{
	display: inline-block;
	margin-top: 82%;
	width: 5.26662vw;
	font-size: 0.63199vw;
	font-weight: bolder;
	color: #B3B5B9;
}
.log{
	width: 1.31666vw;
	height: 1.31666vw;
	vertical-align: -0.52666vw;
	color: #B3B5B9;
}
.log:hover{
	color: #7045ff;
	cursor: pointer;
}
/*---------dashboard------*/
.plan-view{
	margin-left: 15%;
}
#dashboard{
	width: 74.78604vw;
	max-width: 74.78604vw;
	min-width: 32.91639vw;
	min-height: 45.29296vw;
	float:right;
	overflow:hidden;
}
.top-nav{
    margin-top:-8%;
	display: inline-block;
	float: left;
	width: 55.95787vw;
	min-width: 26.33311vw;
	max-width: 55.95787vw;
}
.top-btn{
	background-color: transparent;
	border-radius: 1.31666vw;
	border:none;
	max-height: 1.31666vw;
	min-height: 1.31666vw;
	width: 7.89993vw;
	max-width: 7.89993vw;
	min-width: 4.60829vw;
	font-size: 0.84266vw;
	font-weight: bold;
	color: #fffafe;
	text-align: center;
	vertical-align: center;
	white-space: normal;
	float: left;
	padding: 0.65833vw 0px 0.32916vw 0px;
	margin-right: 2%;
}

.archive-dash{
	background-color: #F9FCFF;

	font-size: 0.94799vw;
	padding: 0.78999vw 0.52666vw 0.78999vw 0.52666vw;
	font-weight: bold;
	border:none;
	border-radius: 1.31666vw;
	-webkit-box-shadow: 0 0.65833vw 0.65833vw -0.78999vw #777;
	-moz-box-shadow: 0 0.65833vw 0.65833vw -0.78999vw #777;
	box-shadow: 0px 0.65833vw 0.65833vw -0.78999vw #777;
	float: right;
	margin-right: 0;
}

.active-top-btn{
	border:none;
	background-color: rgb(242, 152, 240);
	max-height: 1.31666vw;
	min-height: 1.31666vw;
	width: 7.89993vw;
	max-width: 7.89993vw;
	min-width: 4.60829vw;
	font-size: 0.84266vw;
	font-weight: bold;
	color: white;
	text-align: center;
	vertical-align: center;
	white-space: normal;
	float: left;
	padding: 0.65833vw 0px 0.32916vw 0px;
	margin-right: 2%;
	border-radius: 1.31666vw;
	-webkit-box-shadow: 0 0.65833vw 0.65833vw -0.78999vw #777;
	-moz-box-shadow: 0 0.65833vw 0.65833vw -0.78999vw #777;
	box-shadow: 0px 0.65833vw 0.65833vw -0.78999vw #777;
}

.top-btn:hover{
	cursor: pointer;
	border-radius: 1.31666vw;
	background-color: rgb(242, 152, 240);
	-webkit-box-shadow: 0 0.65833vw 0.65833vw -0.78999vw #777;
	-moz-box-shadow: 0 0.65833vw 0.65833vw -0.78999vw #777;
	box-shadow: 0px 0.65833vw 0.65833vw -0.78999vw #777;
}
.archive-dash:hover{
	color: white;
}
.active-arch-btn{
	color: #9061ff;
}
.active-arch-btn:hover{
	background-color: #9061ff;
}
.active-top-btn:hover{
	background-color: rgb(242, 152, 240);
	cursor: default;

}
.sav-div{

	margin-top: 8%;
}
.relative{
	position:relative;

}
.circle-wrap {
	position: absolute;
	width: 21.06649vw;
	height: 21.06649vw;
	background: white;
	border-radius: 50%;
	border: 0.52666vw solid white;

}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
	width: 21.06649vw;
	height: 21.06649vw;
	position: absolute;
	border-radius: 50%;

}

.circle-wrap .circle .mask {
	clip: rect(0px, 21.06649vw, 21.06649vw, 10.53325vw);
}

.circle-wrap .circle .mask .fill {
	clip: rect(0px, 10.53325vw, 21.06649vw, 0px);
	background-color: #00cf95;

}

/*.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
	animation: fill ease-in-out 3s;
	!*transform: rotate(0deg);*!
}

@keyframes fill {
	0% {
		transform: rotate(0deg);
	}
	100% {
		!*transform: rotate(0deg);*!
	}
}*/

.circle-wrap .inside-circle {
	width: 19.74984vw;
	height: 19.74984vw;
	border-radius: 50%;
	background: white;
	line-height: 8.55826vw;
	text-align: center;
	display: inline-block;
	margin-top: 0.65833vw;
	margin-left: 0.65833vw;
	position: absolute;
	z-index: 5;
	color: #7045ff;
}
#saved-money{
	font-size: 4em;
	font-weight: 900;
	margin-top: -30%;
}
h3{
	color:#eeeeee;
	font-size: 1.4em;
	vertical-align: center;
}
#piggy-dash{
	width: 1.51415vw;
	height: 1.51415vw;
	color: #00cf95;
	vertical-align: -0.32916vw;
}
.wrapper-saved-dash {
	margin-top: -5%;
	margin-bottom: 5%;
}
#saved{
	color: #00cf95;
	font-weight: 600;
	text-transform: uppercase;
}
.piggy-bank{
	position: relative;
	margin-top: 10%;
	margin-bottom: 0;
}
.save-content{
	max-height: 100px;
	color: #929499;
}
.to-save{
	margin: -27% 0 0 0;
	height: 30px;
}
.date-to-save-lbl {
	margin: 0;
	height: 30px;
}
.date-to-save{
	margin:0;
	height: 30px;

}
.add-new{
	position: absolute;
	display: grid;
	padding-right: 0.13167vw;
	padding-top: 0.46083vw;
	width: 3.15997vw;
	height: 2.83081vw;
	border-radius: 50%;
	text-align: center;
	align-items: center;
	top:35%;
	left: 97%;
	font-size: 0.7em;
	content: url('https://api.iconify.design/dashicons:plus.svg?color=%239061ff&height=20');
	vertical-align: -0.125em;
	background-color: white;
	-webkit-box-shadow: 0.98749vw 0.78999vw 3.35747vw -0.52666vw rgba(86, 27, 80, 0.98);
	-moz-box-shadow: 0.98749vw 0.78999vw 3.35747vw -0.52666vw rgba(86, 27, 80, 0.98);
	box-shadow: 0.98749vw 0.78999vw 3.35747vw -0.52666vw rgba(86, 27, 80, 0.98);
}
.add-new:hover{
	cursor: pointer;
	background-color: #9061ff;
	content: url('https://api.iconify.design/dashicons:plus.svg?color=white&height=20');

}
h2{
    font-weight: 900;
	font-size: 3em;
	margin: 0.98749vw 0 0 0;
}
.emit-offer{
	position: relative;
	margin-top: 40%;
	color:#46484c;
}
#rec-label{
	font-weight: bold;
	border-bottom: 0.13167vw solid rgba(129, 131, 135, 0.26);
	width: 21.06649vw;
	padding-bottom: 0.65833vw;
	margin-bottom: 0.65833vw;
}
.recommend-icons{
	width: 1.64582vw;
	height: 1.64582vw;
	margin-right: 1%;
	vertical-align: -0.32916vw;
	color: #f298f0;
}
.top-expenses{
	position: relative;
	display: inline-grid;
	float: right;
	margin-top: -47%;
	margin-right:17%;
	text-align: center;
	color: #929499;
	font-weight: bold;

}
.number-row{
	position: absolute;
	text-align: center;
	width: 42%;
	top:-30%;
	border-radius: 0.65833vw;
	font-size: 5.5em;
	color: white;
	background-color: #eedcd8;
	/*background-image: linear-gradient(to bottom left, rgb(250, 214, 214), rgb(238, 165, 246));*/
    background-image: linear-gradient(to bottom left, #7a8cf0, rgb(144, 97, 255));
    font-weight: 900;
    -webkit-box-shadow: 0.98749vw 0.78999vw 3.35747vw -0.52666vw rgba(85, 77, 86, 0.98);
    -moz-box-shadow: 0.98749vw 0.78999vw 3.35747vw -0.52666vw rgba(85, 77, 86, 0.98);
    box-shadow: 0.98749vw 0.78999vw 3.35747vw -0.52666vw rgba(85, 77, 86, 0.98);

}
#first-row{
    width: 44%;
    z-index: 2;
    padding: 0 1% 0 1%;
    font-size: 7.37327vw;

}
#second-row{
    background-color: rgb(232, 234, 238);
    background-image: none;
    color: #9061FF;
    z-index: 1;
    top:-6%;
	/*background-image: linear-gradient(to bottom left, rgb(238, 165, 246), #df42d1);*/
}
#third-row{
    background-color: rgb(232, 234, 238);
    background-image: none;
    color: #9061FF;
    top:-6%;
	/*background-image: linear-gradient(to bottom left, #7a8cf0, rgb(144, 97, 255));*/

}

#big-bubble{
	display: grid;
	float: right;
	position: relative;
	top: 3%;
	left: 1%;
	padding-top: 0.98749vw;
	padding-right: 1.31666vw;
	width: 90%;
	height: 5.26662vw;
	border-radius: 0.65833vw;
	box-shadow: 1.25082vw 1.18499vw 1.71165vw 0px rgba(86, 27, 80, 0.31);
	-webkit-box-shadow: 1.25082vw 1.18499vw 1.71165vw 0px rgba(86, 27, 80, 0.31);
	-moz-box-shadow: 1.25082vw 1.18499vw 1.71165vw 0px rgba(86, 27, 80, 0.31);
	text-align: right;
	background-color: white;
}
#small-bubble{
	display: grid;
	float: right;
	position: relative;
	top: 3%;
	left: 1%;
	padding-top: 0.98749vw;
	padding-right: 1.31666vw;
	width: 17.11652vw;
	height: 4.60829vw;
	border-radius: 0.65833vw;
	text-align: right;
	background-color: white;
	box-shadow: 1.25082vw 1.18499vw 1.71165vw 0px rgba(86, 27, 80, 0.31);
	-webkit-box-shadow: 1.25082vw 1.18499vw 1.71165vw 0px rgba(86, 27, 80, 0.31);
	-moz-box-shadow: 1.25082vw 1.18499vw 1.71165vw 0px rgba(86, 27, 80, 0.31);
	margin-left: 2.63331vw;
	margin-top: 5%;

}
#smaller-bubble{
	display: grid;
	float: right;
	position: relative;
	top: 3%;
	left: 1%;
	padding-top: 0.98749vw;
	padding-right: 1.31666vw;
	width: 15.14154vw;
	height: 4.60829vw;
	border-radius: 0.65833vw;
	text-align: right;
	background-color: white;
	box-shadow: 1.25082vw 1.18499vw 1.71165vw 0px rgba(86, 27, 80, 0.31);
	-webkit-box-shadow: 1.25082vw 1.18499vw 1.71165vw 0px rgba(86, 27, 80, 0.31);
	-moz-box-shadow: 1.25082vw 1.18499vw 1.71165vw 0px rgba(86, 27, 80, 0.31);
	margin-top: 5%;
	margin-left: 5.26662vw;
}

#smallest-bubble{
	display: grid;
	float: right;
	position: relative;
	width: 3.29164vw;
	height: 3.29164vw;
	border-radius: 50%;
	text-align: center;
	align-items: center;
	margin-top: 2%;
	top:-300%;
	left: 95%;
	font-size: 0.72416vw;
	color: #66686c;
	content: url('https://api.iconify.design/fe:arrow-right.svg?color=%239061ff&height=24');
	vertical-align: -0.13167vw;
	background-color: white;
	-webkit-box-shadow: 0.98749vw 0.78999vw 3.35747vw -0.52666vw rgba(86, 27, 80, 0.98);
	-moz-box-shadow: 0.98749vw 0.78999vw 3.35747vw -0.52666vw rgba(86, 27, 80, 0.98);
	box-shadow: 0.98749vw 0.78999vw 3.35747vw -0.52666vw rgba(86, 27, 80, 0.98);

}
#smallest-bubble:hover{
	cursor: pointer;
	background-color: #9061ff;
	content: url('https://api.iconify.design/fe:arrow-right.svg?color=white&height=24');
}
.biggest-bubble{
	position: absolute;
/*	-webkit-clip-path: polygon(0px 339px,671px 338px,707px 339px,735px 344px,751px 358px,775px 389px,814px 426px,852px 456px,892px 478px,929px 492px,953px 499px,983px 504px,100% 506px,100% 502px,100% -1px,-1px -1px);

    background-image: linear-gradient(to left, #ffa453, #ffad6b, #ffb682, #ffc098, #ffcaad, #ffcaad, #ffcaad, #ffcaad, #ffc098, #ffb682, #ffad6b, #ffa453);
	*/
	background-size: 100%;
    background-image: url("pictures/gradent3 mosaic.svg");
    z-index: -1;
	top:-5%;

	height: 27.32061vw;
	right: 0; bottom: 0; left: 0;
	/*box-shadow: inset 0px 0px 300px rgb(252, 246, 255);
	*/overflow:hidden;
}
.expenses-labels{
	font-size: 0.72416vw;
}
.expenses-sum{
	font-size: 2.10665vw;
	padding-right: 5%;
}
.calnd{
	position: relative;
	margin-left: 45%;
	top:-20%;
}

.cal-lbl{
	margin-top: -16.5%;
	position: absolute;
	display: inline;
	float: left;
	font-weight: bolder;
	color:#46484c;
	border-bottom: 0.13167vw solid rgba(129, 131, 135, 0.26);
	padding-bottom: 0.94799vw;
	width:29.62475vw;
}
.calendar{
	margin-top: -14%;
	position: absolute;
	display: inline-block;
	float: left;
	width: 29.62475vw;
	min-width: 6.58328vw;
	max-width: 29.62475vw;
	height: 6.58328vw;
	text-align: center;
}
.day{
	float: left;
	padding:5% 4%;
	margin:1%;
	font-weight: 400;
	color: #46484c;
	margin-top:8%;
}
.day-numb{
	margin: 1.97498vw 0 0 0;
}
.active-day{
	background-color: #9061ff;
	border-radius: 3.29164vw;
	color: #e8eaee;
}
.day-filled{
	color: rgb(242, 152, 240);
}
.day:hover{
	cursor:pointer;
	background-color: rgb(144, 97, 255);
	border-radius: 3.29164vw;
	color: #e8eaee;
}
.active-day:hover{
	background-color: #f298f0;
}
/*---------modal---------*/
.modal{

	position: fixed; /* Stay in place */
	z-index: 100; /* Sit on top */
	padding-top: 6.58328vw; /* Location of the box */
	left: 18.76234vw;
	top:2.1%;
	width: 100%; /* Full width */
	height: 81.5%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	border-radius: 0.65833vw;
}
.category-lbl{
    margin-top: 0;
    padding-top: 0;
}
.exit{
    display: inline-block;
    color: #e8eaee;
    cursor: pointer;
    float: right;
	position: relative;
	width: 2.43581vw;
	height: 2.43581vw;
    padding:0.42791vw;
	border-radius: 50%;
	text-align: center;
	align-items: center;
	left: 90%;
	margin-top:-5%;
	content: url('https://api.iconify.design/octicon:x.svg?color=%239061ff&width=5&height=5');
	vertical-align: -0.13167vw;
	background-color: white;
	-webkit-box-shadow: 0.98749vw 0.78999vw 3.35747vw -0.52666vw rgba(86, 27, 80, 0.98);
	-moz-box-shadow: 0.98749vw 0.78999vw 3.35747vw -0.52666vw rgba(86, 27, 80, 0.98);
	box-shadow: 0.98749vw 0.78999vw 3.35747vw -0.52666vw rgba(86, 27, 80, 0.98);
}
.exit:hover{
    background-color: #7045ff;
    content: url('https://api.iconify.design/octicon:x.svg?color=white&width=5&height=5');
}
.adding-line{
	display: block;
	float: left;
	width: 94%;
}
#hide-this{
	overflow: visible;
    display: flex;/*flex*/
    flex-direction: column;
    flex: 1;
    background-color: #fefefe;
    margin-left: 25%;
    padding: 0 0 1.31666vw 1.31666vw;
    border: 1px solid #888;
    width: 21%;
    min-height: 13.16656vw;
    max-height: 100%;
    border-radius: 1.31666vw;
}
.categ-icons{
	display: inline-grid;
	position: relative;
	font-size: 2.10665vw;
	left: 27%;
	margin-bottom: 10%;
	color: #929499;
}

.categ-lbl{
	font-size: 0.65833vw;
}
.categ-grid{
	display: inline-grid;
	float: left;
	border: 0.09875vw solid #929499;
	border-radius: 20%;
	width: 23%;
	padding: 3.5% 0 3.5% 0;
	margin-right: 1%;
	text-align: center;
	cursor: pointer;
	font-weight: 600;
    margin-bottom: 1%;
}
.categ-grid-active{
	border: 0.09875vw solid #7045ff;
	color: #7045ff ;
}
.categ-grid-active .categ-icons {
	color: #7045ff;
}
.categ-grid:hover .categ-icons{
	color: #7045ff;
}
.categ-grid:hover{
	border: 0.09875vw solid #7045ff;
	font-weight: 600;
	color: #7045ff;
}
.categ-grid:nth-child(9){
	margin-right: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.wrapper-categories{
	margin-bottom: 2%;
}
.categ-things{
	display: flex;
    flex-wrap: wrap;
	width: 97%;

}
.categ-thing{
	display: inline-grid;
	float: left;
	width: 3.29164vw;
	margin: 0.7%;
}
.thing-lbl{
	font-size: 0.65833vw;
	text-align: center;
	display: inline-block;
	position: relative;

}
.thing-icon{
	width: 45%;
	height: 1.31666vw;
	padding: 18%;
	color: #929499;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	align-content: center;
	margin: 2% 0% 1% 2%;
	border: 1px solid #929499;
}

.categ-thing:hover .thing-icon{
    cursor: pointer;
    color: #7045ff;
    border: 1px solid #7045ff;
}
.categ-thing:hover{
    color: #7045ff;
}
.categ-thing-active .thing-icon{
    color: #7045ff;
    border: 1px solid #7045ff;
}
.categ-thing-active{
    color: #7045ff;
}
.price-wrapper{
	margin-top: 4%;
}
.price-lbl{
    margin-left: 2%;
}
.price-inp{
    display: inline;
    margin-left: 2%;
    margin-top: 3%;
    padding: 0.65833vw 0.98749vw;
    border: 1px solid rgba(129, 131, 135, 0.26);
    border-radius: 1.31666vw;
    width: 7.89993vw;
    background: url('https://api.iconify.design/ic:twotone-euro.svg?width=15&height=15') no-repeat center right 7%;
}
.submit-post{
	float: right;
	margin-top: -13.5%;
    color: #ffffff;
    margin-left:13.5%;
    background-color: #7045ff;
    border-radius: 1.97498vw;
    width: 3.29164vw;
    padding: 0.65833vw 1.64582vw;
    margin-bottom: 5%;
}
.submit-post:hover{
    background-color: #f298f0;
    cursor: pointer;
}
#main-view{

}
/*!*------------------choose plan-----------*/
#choose-plan{
	max-width: 520px;
	margin: auto;
    margin-top: 7%;
}
#choose-plan-lbl{
    text-align: center;
    font-family: 'Muli', sans-serif;
    color: #7045ff;
    margin-bottom: 2%;
	margin-top:0;
    font-size: 3.68664vw;
}
.info-par{
    text-align: center;
	max-width: 400px;
    color: #929499;
    margin:auto;
    font-size: 0.82291vw;
}
.info-par:nth-child(3){
    margin-bottom: 3%;
}
/*surikiuoja div į vidurį*/
.plans{
    margin:0 auto;
    text-align: center;
}
#plans li {
	list-style-type: none;
	margin-bottom: 3%;
}
#plans {
	padding-left:0;
}
.plan-sec{
    display: inline-block;
    border: 0.079vw solid rgba(129, 131, 135, 0.77);
    border-radius: 1.31666vw;
    width: 10%;
    text-align: center;
    padding: 3% 2% 1.7% 2%;

    color: rgb(129, 131, 135);
    font-weight: 600;
    font-size: 0.92166vw;
}
.plan-sec:hover {
    border: 0.079vw solid rgba(242, 152, 240, 0.77);
    color: rgb(242, 152, 240);
    cursor: pointer;

}

.active-plan-sec{
	margin: auto;
    border-radius: 1.31666vw;
    text-align: center;
    padding: 0;
    font-weight: 600;
    font-size: 0.92166vw;
    //border: 0.079vw solid rgba(242, 152, 240, 0.77);
    color: rgb(242, 152, 240);
    cursor: pointer;
}

.active-plan-sec .piggy{
    content: url("pictures/piggy.png");
}
.plan-sec:hover .piggy{
    content: url("pictures/piggy.png");
}
.parameters{
    display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
    width: 78%;
    padding-right: 0;
}
.lbl-sec{
    display: grid;
    float: bottom;
    text-align: left;
}
.price-inp-sec{
    padding: 0.65833vw 0.98749vw;
    border: 1px solid rgba(129, 131, 135, 0.26);
    border-radius: 1.31666vw;
    max-width: 150px;
    background: url('https://api.iconify.design/ic:twotone-euro.svg?width=15&height=15') no-repeat center right 7% white;
}
.scnd-block {
	margin-left: auto;
}
.submit-plan{
	display: flex;
    color: #ffffff;
    justify-content: center;
	margin: 5% auto 0;
    background-color: #7045ff;
    border-radius: 1.97498vw;
    max-width: 150px;
	padding: 10px 18px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}
.submit-plan:hover {
	background-color: #5536be;
}
.submit-plan:active {
	background-color: #472b97;
}
#datepicker{
    display: grid;
    float: left;
    padding: 0.65833vw 0.98749vw;
    border: 1px solid rgba(129, 131, 135, 0.26);
    border-radius: 1.31666vw;
    width: 85%;
}
/*---------------archive----------------------*/
#archive-viewport, #list-viewport{
	margin-left: 3vw;
	background-color: #fffdfd;
	border-radius: 10px;
	padding:2%;
	padding-top: 0.1%;
	min-height: 43.8vw;
	max-height: 43.8vw;
}
.list-h3{
	color: #66686c;
}
table, ::after, ::before {
	box-sizing: border-box;
}
.table {
	display: table;
	width: 100%;
	margin-bottom: 1.05332vw;
	color: #212529;
	border-spacing: 0.13167vw;
	border-collapse: collapse;
}
thead {
	display: table-header-group;
    vertical-align: middle;
    background-color: #d9dde3;
	color: #66686c;
	padding-left: 0;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
.table td, .table th {
	padding: 0.78999vw;
	vertical-align: top;
	border-top: 1px solid #dee2e6;

}
th {
	display: table-cell;
	vertical-align: inherit;
	font-weight: bold;
	text-align: left;
}
.table th{
	padding-left: 2.10665vw;
}
.table td{
	padding:2.10665vw 0 1.05332vw 2.10665vw;
}
.plan-in-archive{
	max-width: 6.31995vw;
	font-size: 1.05332vw;
	padding: 0.98749vw 0 0.98749vw 0.65833vw;
}
.plan-in-archive:hover{
	cursor: default;
	background-color: rgba(242, 152, 240, 0.16);
	color: #46484c;
}
.plan-in-archive:hover .iconify{
	color: #f298f0;
}
.plan-in-archive:hover::after{
	content: none;
	float: none;
	margin-right: 0;
}
.icon-in-archive{
	margin-right: 1.05332vw;
}
.archive-status-icon.archive-status-icon{
	padding-left: 7%;
}
.edit-btn, .remove-btn{
	color: #7045ff;
	font-size: 1.57999vw;
	padding-bottom: 0;
	margin-bottom: 0;

}
.edit-btn:hover, .remove-btn:hover{
	color: #f298f0;
	cursor: pointer;
}
.list-cat-icon{
	font-size: 2.10665vw;
	border: 1px solid #f298f0;
	padding: 0.52666vw;
	border-radius: 50%;
	margin-top: -1.57999vw;

}
/*---------------adaptivity-------------------*/
/*@media only screen and (min-width: 768px) and (max-width: 1023px){*/
/*	#dashboard{*/
/*		width: 70%;*/
/*	}*/

/*}*/
/*@media only screen and (min-width: 1024px) and (max-width: 1439px){*/
/*	#dashboard{*/
/*		width: 70%;*/
/*	}*/
/*	.plan-view{*/
/*		margin-left: 5%;*/
/*	}*/
/*	.circle-wrap{*/
/*		transform: scale(0.7);*/
/*		margin-left: -7%;*/
/*	}*/
/*	.emit-offer{*/

/*	}*/
/*}*/
/*
@media only screen and (min-width: 1024px) and (max-width: 1439px){
	.photo-side{
		width: 50%;
		height: 611px;
	}
	.sign-up-side{
		width: 30%;
		margin-left: 9%;
		text-align: center;
	}
	.input{
		width: 100%
	}
}*/
